# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv
.env
.env.*
!.env.example

# OS
.DS_Store
**/.DS_Store

# Output
output/
.idea
.vscode/
